/* Relatif à la barre de navigation */
a#pageActive {
			background-color: rgba(150,150,150,0.7); // ou tout autre style
		}
nav {
width: 100% ;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-size: 18px;
display: block;
position: fixed;
top: 0px;
text-align: center;
}
.topla{
	position: fixed;
	top:10px;
}
li {
float: left;
}
nav button {
display: block;
color: black;
text-align: center;
padding: 16px;
text-decoration: none;
font-weight: normal;
background-color: rgba(254, 254, 254, 0.75);
}
li a:hover {
background-color: #000000;
color:white;
font-style: normal;
}
/* Général*/
body{
position: relative;
margin-left: 1%;
margin-right: 5%;
size: 100%;
background-size: 100%;
background-attachment: fixed;
background-position: bottom right;
font-family: 'Neucha', cursive;
margin-bottom: 50px;
}
section{
	background-color: rgba(255,255,255, 0.7);
}
a{
font-weight: bold;
text-decoration: none;
}
a:hover{
font-style: italic;
font-weight: normal;
text-decoration: none;
}
footer{
position: fixed;
bottom: 10px;
right: 5px;
background-color: rgba(254,254,254,0.5);
}

/*classe et id de la page Index*/
#banniere{
margin-left: 5%;
margin-right: 5%;
max-width: 800px;
text-align: center;
padding-top: 80px;
border-radius: 10px;
}

#essaie{
	
}
#essaie2:hover{
	background-color: red;
}
li#essaie2:hover + li a{
}


/*Receptive*//*
@media only screen and (max-width: 500px){
ul{
width: 100%;
font-size: 4vw;
padding: 0px;
margin: 0px;
background-color: rgba(254, 254, 254, 0.7);
}
footer{
font-size: 12px;
bottom: 6px;
}
footer img{
width: 5%
}
}*/